@model IEPLeaveManagementSystem.Models.EmployeeModel

@{
    ViewBag.Title = "Create";
}

<br />
<h2 class="create-heading">Create Employee</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr /><br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group col-sm-6 create-form">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-sm-8">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-sm-8">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-sm-8">
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-sm-8">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-sm-8">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-sm-8">
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-sm-8">
            @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-sm-8">
            @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-sm-6 create-form">
        @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-sm-8">
            @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.SupervisorID, "SupervisorID", htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-sm-8">
            @Html.DropDownList("SupervisorID", null, "Please select", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SupervisorID, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.IsConfirmed, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-sm-8">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.IsConfirmed)
                @Html.ValidationMessageFor(model => model.IsConfirmed, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-sm-8">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.IsActive, htmlAttributes: new { @checked = true })
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.LabelFor(model => model.IsSupervisor, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-sm-8">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsSupervisor)
                @Html.ValidationMessageFor(model => model.IsSupervisor, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.LabelFor(model => model.IsAdmin, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-sm-8">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsAdmin)
                @Html.ValidationMessageFor(model => model.IsAdmin, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.LabelFor(model => model.IsHR, htmlAttributes: new { @class = "control-label col-sm-4" })
        <div class="col-sm-8">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsHR)
                @Html.ValidationMessageFor(model => model.IsHR, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

        <div class="form-group create-form">
            <div class="col-sm-offset-9 col-sm-3">
                <input type="submit" value="Create" class="btn btn-default custom-btn" />
            </div>
        </div>
    </div>
}

<div class="back-to-list">
    @Html.ActionLink("Back to Employee List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
