@using IEPLeaveManagementSystem.Models
@model LoginViewModel
@{
    ViewBag.PageTitle = "Login";
}

@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}


<!-- NEW FORM -->
<div class="auth-logo-main-wrap">
    <div class="auth-logo"></div>
</div>
<div class="auth-inner-wrap">
    <div class="auth-section">
        <div class="container-fluid">
            <header>
                <div class="row">
                    <div class="col-xs-12">
                        @*<div class="auth-logo position"></div>*@
                        @*<h1>Login</h1>*@
                        <div class="logo">
                            <a href="/"><img src="~/Content/images/LMS-Logo-Color.png" /></a>
                        </div>
                        
                    </div>
                </div>
            </header>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "frmLogin", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="auth-form">
                    <div class="row hidden-">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger help-inline" })
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger help-inline pull-left" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger help-inline pull-left" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="submit" value="Login" class="btn btn-primary btn-lg" onclick="ValidateAndSubmitForm();" id="btnSubmit" />
                                </div>
                            </div>
                            <div class="forgot-password">
                                <div class="col-sm-12">
                                    @Html.ActionLink("Forgot Password?", "ForgotPassword")
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        function ValidateAndSubmitForm() {

            $("#btnSubmit").attr("disabled", "disabled");
            var isValid = $('#frmLogin').valid();

            if (isValid) {

                $('#frmLogin').submit();
            }
            else {
                $("#btnSubmit").removeAttr("disabled");
            }
            
        }

    </script>
}
