@model IEPLeaveManagementSystem.DataConnection.EmployeeLeave

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeLeave</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalCasual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCasual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemainingCasual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemainingCasual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAnnual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAnnual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemainingAnnual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemainingAnnual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMedical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMedical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemainigMedical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemainigMedical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalLieuLeave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalLieuLeave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemainigLieuLeave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemainigLieuLeave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
